{% extends "base.html" %}
MADCPT
{% block title %}Contact | {% endblock %}

{% block content %}

    <section class="contact-page">
        <h1>Get In Touch</h1>
        <p class="section-sub">Have a question or want to work together? Reach out.</p>

        <div class="card contact-card">
            <p>📧 Email: <a href="your.email@example.com">mathanramu2434@gmail.com</a></p>
            <p>💼 LinkedIn: <a href="#" target="_blank">https://www.linkedin.com/in/mathan-r-2395193a2/</a></p>
            <p>🐙 GitHub: <a href="#" target="_blank">https://github.com/mathanr24</a></p>
        </div>
    </section>

{% endblock %}